<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="" style="margin-top: 100px;">
            <div class="mt-5" style="margin-top: 100px;"><a href="http://localhost:5000/" target="_blank"> HOME</a> </div>
            <div class="mt-5" style="margin-top: 100px;"><a href="http://localhost:8080/" target="_blank"> PHP MyAdmin</a> </div>
            <div class="mt-5" style="margin-top: 100px;"><a href="http://localhost:8081/" target="_blank"> redis commander</a> </div>
        </div>
    </div>
</body>
</html>